.box {
    margin: 20px;
    width: 18rem;
    background-color: ivory;
}

.grid {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.grid>div {
    flex-basis: calc(25% - 40px);
}

.boxy {
    width: 30px;
    background: green;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
}

.boxy:hover {
    animation: boxyRotation 4s infinite linear;
}

.card-image {
    height: 15rem;
    -webkit-filter: blur(3px);
}

.grid>a {
    text-decoration: none;
}