.img {
    width: 600px;
    height: 800px;
    object-fit: contain;
}

.banner {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, #040208 0%, #313131 100%);
    display: flex;
    justify-content: center;
    cursor: none
}